moves/

whatsapp_profile/

processos.csv

create_db.py
db_unificado.db
config.json
envio_dados.json

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.db
*.sqlite3

venv/
.venv/
ENV/
env/
.env

.env.*
*.env

*.log
*.tmp
*.bak

.DS_Store
Thumbs.db
